.App {
  text-align: center;
}

button {
  margin: auto;
  padding: 5px;
  margin: 8px;
}

button:hover {
  background-color: rgb(242, 250, 169);
}

h3 {
  text-align: center;
}

pre {
  margin: auto;
  width: 960px;
}